<% layout('layouts/boilerplate')%>

<% if(currentUser.role === 'user'){ %>
  <h1>Favorites places</h1>
<% } else { %>
  <h1>Your places</h1>
<% } %>

<% user.userPlaces.forEach( (campground) => { %>
    <div class="card" style="width: 18rem;">
        <%if(campground.images.length) {%>
        <img class="img-fluid" alt="" src="<%=campground.images[0].url%>">
        <% }else {%>
        <img class="img-fluid" alt=""
            src="https://res.cloudinary.com/emanueltejada/image/upload/v1610671000/YelpCamp/rq2slzo4zl1kyboumfid.jpg">
        <% } %>
    <div class="card-body">
      <h5 class="card-title"><%= campground.title%></h5>
      <p class="card-text"><%= campground.location%></p>
      <a href="/campgrounds/<%=campground._id%>" class="btn btn-primary d-inline">View place</a>
      <% if(currentUser.role === 'user'){ %>
        <form class="d-inline" action="/campgrounds/<%=campground._id%>/favorites?_method=DELETE" method="POST">
          <button class="btn btn-danger">Remove</button>
        </form>
      <% } %> 
      

    </div>
  </div>
<% }) %>